    <h1>Habit Tracker</h1>
    <img src="../assets/image.jpg" class="center">
    <h2>Welcome! Sign Up/Sign In To Start Using The App.</h2>
    <a href="/users/sign-up" class="sign-up">Sign Up</a>
    <a href="/users/sign-in" class="sign-in">Sign In</a>